.project-card { 
    margin-top: 60px;
        &-icon {
            color: #3d3d3d;
                :hover {
                    opacity: 0.8;
                    cursor: pointer;
                    transform: translateY(-6px);
                    transition: all .2s ease-in-out 0s;
                    -webkit-transform: all .4s ease-in-out 0s;
                }
        }
        &-seemore {
            text-align: center;
            color: rgb(73, 73, 73);
            padding: 10px;
            font-size: 20px;
            margin-top: 80px;
            margin-bottom: 230px;
            font-weight: 400;
        }

}
.tag {
    color: rgb(62, 62, 62);
    text-decoration: underline;
    font-weight: bold;
        &:hover {
            opacity: 0.8;
            color: #ffffff;
            background-color: #272727;
        }        
}
 

.card-container {
    position: relative;
    display : flex;
    align-items : center !important;
    justify-content : center !important;
    flex-wrap : wrap;
    margin-bottom: 30px;
    margin-top: 10px;
  }
  
  .card-container .card {
    height : 215px;  
    background-color : transparent;
    margin : 80px auto;
    display : flex;
    flex-direction : column;
    transition : 0.3s ease-in-out;
    border-radius : 15px;
    width: 800px;
    border: none;
  }
  .card-container .card:hover {
    height : 320px;    
  }

  .card-container .card:hover .card-titl {
    display: none; 
  }

  .card-titl {
    text-align: center;
  }
  
  .card-container .card .image {
    min-width : 100px;
    width: 380px;
    max-height : 280px;
    top : -45%;
    left: 0px;
    box-shadow : 0 5px 20px rgba(0,0,0,0.2);
    z-index : 1;
    margin: 0 auto;
    margin-bottom: 35px;
    border-radius: 15px;
  }
  
  .card-container .card .image img {
    max-width : 120%;
    border-radius : 15px;
    margin: 0 auto;
    text-align: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    object-fit: contain !important;
    box-shadow : 0 5px 20px rgba(50, 50, 50, 0.5);
  }
  
  .card-container .card .content {
    position : relative;
    top : -170px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
    h4 {
        font-size: 22px;
        font-weight: bold;
    }
    p {
        font-size: 13.5px;
        margin: 13px 60px;
        i {
            color: #299ca4;
        }
    }
    a {
        margin-left: 15px;  
        :hover {
               opacity: 0.8;
               cursor: pointer;
               transform: translateY(-6px);
               transition: all .2s ease-in-out 0s;
               -webkit-transform: all .4s ease-in-out 0s;
           }
    }
    
  }
  
  .card-container .card:hover .content {
     margin-top : 30px;
     visibility : visible;
     opacity : 1;
     transition-delay: 0.2s;
  }

  .card-container .card:hover .image {
    position: relative;
  }

  .card-container .card:hover .image img {
    width: 100% !important;
  }

    
  .card-container .card:hover  {
    background-color: #ffff;
    box-shadow : 0 5px 20px rgba(50, 50, 50, 0.5);
  }  

  @media screen and (min-width: 700px) and (max-width: 1500px) {
    .card-container .card {
        width: 600px;
        margin: 60px auto;
        width: 700px;

    }
    .card-container .card .image img {
      max-width : 120%;
      border-radius : 15px;
      margin: 0 auto;
      text-align: center;
      justify-content: center;
      align-items: center;
      object-fit: contain !important;
      box-shadow : 0 5px 20px rgba(50, 50, 50, 0.5);
    }
    .card-container .card:hover .image img {
      width: 100% !important;
    }
      
  .card-container .card .content {
    position : relative;
    top : -140px;
    padding : 10px 15px;
    color : #111;
    text-align : center;
    visibility : hidden;
    opacity : 0;
    transition : 0.3s ease-in-out;
    h4 {
        font-size: 20px;
        font-weight: bold;
    }
    p {
        font-size: 12.5px;
        margin: 13px 60px;
        i {
            color: #299ca4;
        }
    }
    a {
        margin-left: 15px; 
        font-size: 10px !important; 
        :hover {
               opacity: 0.8;
               cursor: pointer;
               transform: translateY(-6px);
               transition: all .2s ease-in-out 0s;
               -webkit-transform: all .4s ease-in-out 0s;
           }
    }
    
  }
  
  }

  @media screen and (min-width: 2280px) {
    .card-container .card {
      width: 680px;
      margin-right: 110px;
  }
  .card-container .card .image img {
    max-width : 140%;
    border-radius : 15px;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    object-fit: contain !important;
    box-shadow : 0 5px 20px rgba(50, 50, 50, 0.5);
  }
  .card-container .card:hover .image img {
    width: 100% !important;
  }
  }

@media screen and (max-width: 500px){
    .project-card { 
        margin-top: 40px;
        max-width: 80%;
        min-width: 50%;
        width: 400px;
            &-image{
                min-height: 210px; 
            }
            &-content {
                font-size: 10px;
            }
            &-text {
                width: 100%;
                font-weight: 550;
                font-size: 12px !important; 
                line-height: 1.2rem;
                letter-spacing: .6rem;
            }
            p {
                font-size: 11px;
            }
            &-tech {
                font-weight: 200;
                font-size: 10px !important;
            }
            &-seemore {
                margin-bottom: 70px;
                font-size: 15px;
            }
    }
    .card-container{
        flex-direction: column;
    }
}