@import "../../common-styles/variables";
.projects {

}

.p-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


@media screen and (max-width: 600px) {
    .p-container {
        grid-template-columns: 1fr;
    }
}
