.intro {
    margin: 350px 180px;
    width: 56%;
    animation: slider-appear 1s ease-out forwards;
        &-title{
            font-size: 65px;
            color: #ccc;
            letter-spacing: .4px;
        }
        &-description {
            font-size: 25px;
            font-style: italic;
            margin-top: 14px;
            line-height: 2.0;
        }
        &-icon {
            margin: 0px 10px 10px 15px;
            color: #ccc;
            padding: 10px;
                &:hover {
                    opacity: 0.8;
                    color: rgb(78, 69, 69);
                }
        }
}



@media screen and (max-width: 500px){
    .intro {
        margin: 200px 100px 0px 80px;
            &-title{
                font-size: 25px;
                letter-spacing: .3px;
            }
            &-description {
                font-size: 14px;
                font-style: italic;
                margin-top: 14px;
                line-height: 1.6;
            }
            &-icon {
                margin: 0px 10px 10px 15px;
                    &:hover {
                        opacity: 0.8;
                        color: rgb(78, 69, 69);
                    }
            }
    }
}

@media screen and (min-width: 700px) and (max-width: 1900px) {
    .intro {
        margin: 240px 200px;
            &-title{
                font-size: 46px;
                color: #ccc;
                letter-spacing: .3px;
            }
            &-description {
                font-size: 21px;
                margin-top: 14px;
                line-height: 1.6;
            }
    }
}




@keyframes slider-appear {
    from {
      opacity: 0;
      transform: translateY(3rem);
    }
  
    to {
      opacity: 1;
      transform: translateY(0);
    }
}