
@import "../../common-styles/variables";

.navbar {
        &--list {
            display: flex;
                &__title {
                    margin: 18px; 
                    position: relative;
                    min-height: 26px;
                    text-decoration: none;
                    color: #fff;
                    font-size: 26px;
                        &:hover {
                            opacity: 0.8;
                            color: #2a2929;
                        }
                }
                &__item {
                    @include flexCenter;
                    margin: 18px; 
                    position: relative;
                    min-height: 26px;
                    text-decoration: none;
                    color: #2e2e2e !important;
                    font-size: 15px;
                    margin-right: 30px;
                &:hover {
                    cursor: pointer;
                    text-decoration: underline !important;
                }
                }
            }
}

.nav-img {
    width: 200px !important;
}

.container-menu {
    background-color: inherit !important;
}



.menu-list {
    list-style: none;
    margin-right: 30px;
        li {
            margin: 15px 0;
        }
}

.menu-item {
    color: #343333;
    text-decoration: none;
    margin: 10px;
        &-hover {
            text-decoration: underline;
        }
}

