@import "./common-styles/variables";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to left, #414040, #000000);
  color: #ccc;
};


* {
  font-family: 'Sono', sans-serif;
}

h2, h3, h4, h5, h6, p{
  font-weight:300;
  letter-spacing: .3px;
}

h1 {
  font-weight: 300;
  letter-spacing: .2px;
}
